@model UmsaCollege.Infrastructure.CourseListViewModel
@{
    int counter = 1;
    string statusColor;
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Courses</h1>
        <p class="lead">List of all registered courses.</p>
    </div>
</div>

<div class="container">
    <div class="card-columns">
        @foreach (var r in Model.Courses) {
            <form method="post" asp-controller="Course" asp-action="DataPage" asp-route-id="@r.CourseID">
                <button class="text-left" style="border: none;cursor: pointer;background: none;" type="submit" value="submit">
                    <div class="card">
                        <img class="card-img-top" src="~/images/cover_courses/cover_course@(counter).jpg" alt="Card image cap">
                        @{ counter += 1; }
                        @if (counter == 6) { counter = 1; }
                        <div class="card-body">
                            <h5 class="no-padding card-title">@r.Name</h5>
                            <p class=" card-text"><medium class="text-muted">@r.Code</medium></p>
                            <p class="card-text">@r.Description</p>
                            <p class="card-text">Season: <medium class="text-muted">@r.Season</medium></p>
                            @if (r.Status == "Open") { statusColor = "success"; } else { statusColor = "danger"; }
                            <p class="card-text">Status: <span class="badge badge-@(statusColor)">@r.Status</span></p>
                        </div>
                    </div>
                </button>
            </form>
        }
    </div>
</div>